{
  "host": "your_host_address",
  "server_secret": "your_server_secret",
  "application_id": "your_application_id",
  // whether bypass the SSL certificates validation, this for example when is a self-signed the certificate USE WITH CAUTION
  "bypass_ssl_validation": "true [default false]",
  // required if any specific versions are not specified
  "app_version": "X.Y.Z",
  // general version to use if the specific one for a target is not specified
  "android": {
    // not required
    "app_version": "Y.X.Z"
    // specific target version to use
  },
  "ios": {
    // not required
    "app_version": "Y.X.Z"
    // specific target version to use
  },
  "desktop": {
    // not required
    "app_version": "Y.X.Z"
    // specific target version to use
  },
  "web": {
    // not required
    "app_version": "Y.X.Z"
    // specific target version to use
  }
}
